{% extends "AIUTS/template.html" %}



{% block heading %}


{% if users %}
    {% for user in users %}
        <p>Balance: <span id="accountAmount">{{user.accountAmount}}</span> Baht</p>
    {% endfor %}
    {% else %}
    <p> No Account are available. </p>
    {% endif %}
{% endblock heading %}
q
{% block content %} 
    <p>username:  {{ user }}</p>
    {% if users %}
            {% for user in users %}
                <p>Account ID: {{ user.accountId }} </p>
            {% endfor %}

        {% else %}
        <p> No Account are available. </p>
    {% endif %}
    <hr /> </br>
    <div class="navbuttons">
        <button class="btnMain"><a href="{% url 'AIUTS:deposit' %}" >Deposit Money</a></button>
        <button class="btnMain"><a href="{% url 'AIUTS:addTransaction' %}" >Make Transaction</a></button>
        <button class="btnMain"><a href="{% url 'AIUTS:paymentRequest' %}" >Payment Request</a></button>

    </div>
    
    
{% endblock content %}

{% block js %}
<script>


 function fetchdata(){
 $.ajax({
  url: "{% url 'AIUTS:index' %}",
  type: 'GET',
  success: function(data){
   // Perform operation on the return value

      balance = data.slice(data.indexOf("Balance:") + 34, data.indexOf("/span") - 1);
      console.log(balance);
      $("#accountAmount").replaceWith("<span id='accountAmount'>"+balance+"</span>")
  }
 });
}

$(document).ready(function(){
 setInterval(fetchdata,5000);
});

</script>

{% endblock js %}