{% extends "AIUTS/template.html" %}
{% block title %}Back{% endblock title %}
{% block heading %}Pending Request{% endblock heading %}
{% block content %} 



<table class="styled-table">
    <thead>
        <tr>
            <th>From</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Note</th>
            <th>Date</th>
            <th></th>
            <th></th>
          
        </tr>
    </thead>
    
    <tbody>
        {% for transaction in requestTransactions %}
        <tr>
            <td>{{ transaction.transactionReceiver.user.username |capfirst}}</td>
            <td>{{ transaction.transactionAmount }} baht</td>
            <td>{{ transaction.transactionStatus}}</td>
            <td>{{ transaction.transactionMessage }}</td>
            <td>{{ transaction.transactionTime|date:"M d, Y" }}</td>
            {% if transaction.transactionSender.user.username == request.user.username %} 
            <td> <button> <a > Approve </a></button></td>
            <td> <button> <a > Decline </a></button></td>
            {% endif %}

        </tr>
        


    </tbody>
   
        <td>
            {% empty %}
            <p>You don't have any pending request</p>
        {% endfor %}
        </td>

    
</table>


{% endblock content %}