
{% extends "AIUTS/template.html" %}
{% block title %} Back {% endblock title %}
{% block heading %}Requesting Payment{% endblock heading %}
{% block content %} 


    <form action="{% url 'AIUTS:paymentRequest' %}" method="POST">
        {% csrf_token %}
        <label >Request Payment From:</label>
        <input type="text" name="requestRecipient" size="40">
        <label >Request Amount:</label>
        <input type="number" name="requestAmount">
        <label >Request Message:</label>
        <input type="text" name="transactionMessage">
        <input type="submit">
    </form>

{% endblock content %}


