{% extends "AIUTS/template.html" %}
{% block title %}Back{% endblock title %}
{% block heading %}Transaction History{% endblock heading %}
{% block content %} 

<fieldset>
    <legend>Filter Transaction History:</legend>
    <form  method="POST">
        {% csrf_token %}
        <label class="from_date_label" for="from_date">From:</label>
        <input class="from_date" type="date"  name="from_date">

        <label class="from_date_label" for="to_date">To:</label>
        <input type="date"  name="to_date">
 
        <button type="submit">{% if Reset %} RESET {% else %} Filter{% endif %}</button>
    </form>
  </fieldset>

<table class="styled-table">
    <thead>
        <tr>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Amount</th>
            <th>Note</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>
                {% if transaction.transactionSender.user.username == request.user.username %} 
                {{transaction.transactionSender.user.username}} (You)   
                {% else %}
                {{ transaction.transactionSender.user.username }}
                {% endif %}
            </td>
            <td>
                {% if transaction.transactionReceiver.user.username == request.user.username %} 
                You   
                {% else %}
                {{ transaction.transactionReceiver.user.username }}
                {% endif %}
            </td>
            <td>{{ transaction.transactionAmount }} baht</td>
            <td>{{ transaction.transactionMessage }}</td>
            <td>{{ transaction.transactionTime|date:"M d, Y" }}</td>
            <td>{{ transaction.transactionStatus }}</td>
        </tr>
        {% empty %}
        <p>No transactions</p>
    {% endfor %}
    </tbody>
    
</table>


{% endblock content %}