{% extends "AIUTS/template.html" %}
{% block title %} Back {% endblock title %}
{% block heading %}Making Transaction {% endblock heading %}


{% block content %} 
{% for message in messages %}
<div role="alert" class="msg">
 <p>{{ message }}</p> 
</div>
{% endfor %}

    <form method="POST" action="{% url 'AIUTS:addTransaction' %}" >
    {% csrf_token %}
    <!-- {{ form.as_p}}  -->
     <!-- <label for="transactionSender">From:</label>
    <input  type="text" name="transactionSender" ><br> -->

    <label for="transactionReceiver">Send To: </label>
    <input  type="text" name="transactionReceiver" size="40>

    <label for="transactionAmount">Amount: </label>
    <input type="number" name="transactionAmount" placeholder="0">

    <label for="transactionMessage">Message: </label>
    <input type="text" name="transactionMessage" placeholder="short note">

   

    <input type="submit" value="Make Transaction"> 
   
</div>
{% endblock content %}


